/* Universal CSS */
html {
  font-family: 'Lato', 'Century Gothic', 'Arial', sans-serif;
  font-color: #ffffff;
}

header {
  background-color: #000;
  color: #FFF;
  height: 35px;
  width: 100%;
}

header img {
  padding-left: 4.5em;
}

footer {
  background-color: #ac1e1d;
  height: 95px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

h1 {
  font-weight: 900;
  font-size: 3.2em;
  line-height: 0.2em;
}

form {
  display: block;
  text-align: center; 
}

a:link, a:visited {
  color: #000;
  font-weight: 700;
}

a:hover {
  font-weight: 900;
}

textarea:focus, input:focus{
    outline: none;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

/*=== academics =====*/
.container {
  width: 690px;
	margin: 0 auto;
	padding: 5px;
	overflow: hidden;
	position: relative;
	z-index: 1;
  
}

#links a {
  display: block;
  clear:left;
}

.headlines {
  display: inilne;
 
}

#tabletitle {
  font-weight: 800;
  color: #dc143c;

}

#courses {
  font-size: .9em;
  width: 400px;
}

#courses th,td {
  max-width: 125px;
  padding: 3px;
}

tbody tr:nth-child(even){
  background-color: #e6e6e6;
}

#currentsem {
  font-style: italic;
  font-size: 75%;
}

/* Navbar CSS */

#navbar {
  display: inline-block;
  background-color: #ac1e1d;
  width: 100%;
  text-align: center;
}

#navlist a.active {
  background-color: black;
  color: white;
}

#navlist {
  padding: 0;
}

#navlist a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1.4em;
  overflow: hidden;
  white-space: nowrap;
}

#navlist li {
  display: inline;
  margin: 0;
}

#navlist a:hover {
  background-color: black;
  color: white;
}

#uname {
  padding-left: 2%;
  float: left;
}

#cwid {
  padding-right: 2%;
  float: right;
}

#floatboxes {
  width: 100%;
}

#actionbox {
  background-color: #CFCFCF;
  float: left;
  padding-right: 5%;
  text-decoration: none;
}

#ablist {
  text-decoration: none;
}
