/* Universal CSS */
html {
  font-family: 'Lato', 'Century Gothic', 'Arial', sans-serif;
}

header {
  background-color: #000;
  color: #FFF;
  height: 35px;
  width: 100%;
}

header img {
  padding-left: 4.5em;
}

footer {
  background-color: #ac1e1d;
  height: 95px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

h1 {
  font-weight: 900;
  font-size: 3.2em;
  line-height: 0.2em;
}

form {
  display: block;
  text-align: center; 
}

a:link, a:visited {
  color: #000;
  font-weight: 700;
}

a:hover {
  font-weight: 900;
}

textarea:focus, input:focus{
    outline: none;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

/*=== academics =====*/
.container {
  width: 690px;
	margin: 0 auto;
	padding: 5px;
	overflow: hidden;
	position: relative;
	z-index: 1;
  
}

#links a {
  display: block;
  clear:left;
}

.headlines {
  display: inline;
 
}

#tabletitle {
  font-weight: 800;
  color: #dc143c;

}

#courses {
  font-size: .9em;
  width: 400px;
}

#courses th,td {
  max-width: 125px;
  padding: 3px;
}

tbody tr:nth-child(even){
  background-color: #e6e6e6;
}

#currentsem {
  font-style: italic;
  font-size: 75%;
}
