/* Universal CSS */
html {
  font-family: 'Lato', 'Century Gothic', 'Arial', sans-serif;
}

header {
  background-color: #000;
  color: #FFFFFF;
  height: 35px;
  width: 100%;
}

header img {
  padding-left: 4.5em;
}

footer {
  background-color: #ac1e1d;
  height: 95px;
  width: 100%;
  display: inline-block;
  bottom: 0;
}

h1 {
  font-weight: 900;
  font-size: 3.2em;
  line-height: 0.2em;
}

form {
  display: block;
  text-align: center;
}

a:link, a:visited {
  color: #000;
  font-weight: 700;
}

a:hover {
  font-weight: 900;
}

textarea:focus, input:focus{
    outline: none;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

#contactbox {
  background-image: url(media/semitranslogogray.png);
  padding-right: 7em;
  padding-left: 1em;
  padding-top:0.8em;
  width: 30em;
  float: right;
  text-align: center;
  clear: right;
}

#iitfauxlogo {
  font-family: 'Century Gothic', sans-serif;
  font-size: 1.3em;
  font-size: 1.4em;
  color: #FFFFFF;
  line-height:0.1em;
  margin-left: 0.4em;
  margin-top: 0.75em;
  margin-bottom: 0.7em;
  text-transform: uppercase;
}

#navbar {
  display: inline-block;
  background-color: #ac1e1d;
  width: 100%;
  text-align: center;
}

#navlist a.active {
  background-color: black;
  color: white;
}

#navlist {
  padding: 0;
}

#navlist a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1.4em;
  overflow: hidden;
  white-space: nowrap;
}

#navlist li {
  display: inline;
  margin: 0;
}

#navlist a:hover {
  background-color: black;
  color: white;
}

#uname {
  padding-left: 2%;
  float: left;
}

#cwid {
  padding-right: 2%;
  float: right;
}

#floatboxes {
  width: 100%;
}

#actionbox {
  background-color: #CFCFCF;
  float: left;
  padding-right: 5%;
  text-decoration: none;
}

#ablist {
  text-decoration: none;
}

#userbar {
  display: inline-block;
  background-color: #ac1e1d;
  width: 100%;
}

#ubinfo {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#ubinfo li {
  display: inline;
  color: #FFFFFF;
  font-size: .9em;
}