/* Homepage specific CSS */

#floatboxes {
  display: flex;
}

#leftbox {
  float: left;
  width: 50%;
  padding: 8%;
  background-color: white;
}

#rightbox {
  float: right;
  padding: 8%;
  width: 50%;
  background-color: white;
}
#actionbox {
  border-radius: 25px;
  background-color: #CFCFCF;
  padding-left: 10%;
  padding-right: 15%;
  padding-bottom: 5%;
  padding-top: 5%;
  text-decoration: none;
}

#infobox {
  border-radius: 25px;
  background-color: #CFCFCF;
  text-decoration: none;
  padding-left: 10%;
  padding-right: 15%;
  padding-bottom: 5%;
  padding-top: 5%;
}

#ablist {
  text-decoration: none;
}
