/*.htmlCSS specific to pinlogin*/

input[type=text] {
    padding:5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px;
    background:#fff;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#button {
    width: 6em;
    border: 2px solid black;
    border-radius: 5px;
	text-align:center;
	display:block;
  background:#fff;
	margin:auto;
}

a:link, a:visited {
  color: #000;
  font-weight: 700;
}