/* Universal CSS */
html {
  font-family: 'Lato', 'Century Gothic', 'Arial', sans-serif;
  font-color: #FFF;
}

header {
  background-color: #000;
  color: #FFF;
  height: 35px;
  width: 100%;
}

header img {
  padding-left: 4.5em;
}

footer {
  background-color: #b51919;
  height: 95px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

h1 {
  font-weight: 900;
  font-size: 3.2em;
  line-height: 0.2em;
}

form {
  display: block;
  text-align: center; 
}

textarea:focus, input:focus{
    outline: none;
}



/* Login page specific CSS */
.logblock label {
  display: block;
  text-align: left;
  font-size: 1.5em;
  padding-left: 1.1em;
}

#logwrap {
  width: 56.2em;
  margin: 0 auto;
  padding-top: 3.4em;
  padding-right: 6.2em;
}

#formbox {
  background-color: #CFCFCF;
  padding: 1.2em;
  padding-bottom: 2.1em; 
  padding-top: 2.1em;
  width: 32em;
  height: 21.5em;
}

#logtitle {
  font-weight: 900;
  font-size: 3.5em;
  padding: none;
  line-height: 0.2em;
  clear: right;
}

#myiit {
  float: left;
}

form input[type='text'], form input[type='password'] {
  width: 92%;
  padding: 0.1em 0.4em;
  border-radius: 0.55em;
  margin-bottom: 0.9em;
  border: 2px solid #acacac;
  height: 2.5em;
}

form input[type='submit']{
  padding: 0.5em 0.5em;
  background: #b51919;
  font-size: 1.5em;
  font-weight: 700;
  border: none;
  height: 2.6em;
  border-radius: 0.55em;
  color: white;
  width: 92%;
  margin: 0.9em;
}

#forgot a:link, a:visited {
  color: #000;
  font-weight: 700;
  font-size: 1.2em;
}

#forgot a:hover {
  font-weight: 900;
}
